.main {
  width: 100%;
  min-height: 85vh;
  overflow-y: scroll;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  article {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // scrollbar
  ::-webkit-scrollbar {
    width: 2em;
  }
  // handle
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #474c5000 47.5%, #474c50 47.5% 52.5%, #474c5000 52.5%); 
    border-radius: 10px;
  }
}